@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Afek';
  src: url('../fonts/Afek1.5AAA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Afek';
  src: url('../fonts/Afek1.5AAA-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Afek';
  src: url('../fonts//Afek1.5AAA-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raanan';
  src: url('../fonts/raanancondensed-web.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raanan';
  src: url('../fonts/raanancondensed-web.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raanan';
  src: url('../fonts/raanancondensedbold-web.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  font-family: 'Afek';
}

.border {
  border-radius: 0.3rem;

}

.title {
  font-family: 'Raanan';
  font-size: 'xx-large';
}

.text-blue {
  color: #306FB6;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    height: 0;
    /* visibility: hidden; */
  }
  100% {
    opacity: 1;
    height:fit-content;
    /* visibility: visible; */
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
    height: fit-content;
  }
  100% {
    opacity: 0;    /* visibility: hidden; */

    height: 0;
    /* visibility: hidden; */
  }
}
